<nav>
    <ul>
        <li id="brand"><i class="fas fa-graduation-cap"></i> IPS</li>
        <li id="navigation" onmouseover="show()"><a href="#">Navigation <i class="fas fa-sort-down"></i></a></li>
        <li id="important" onmouseover="showI()"><a href="#">Important links <i class="fas fa-sort-down"></i></a></li>
                <li id="live"><a href="#">Live Suport <i class="fas fa-comment-dots"></i></a></li>
        <li id="back"><a href="/dashboard"><i class="fas fa-arrow-left"></i> Dashboard</a></li>
        <li id="logout"><a href="/">Logout  <i class="fas fa-sign-out-alt"></i> </a></li>
    </ul>
</nav>

<div class="navigation" onmouseout="hide()" onmouseover="show()">
    <ul>
        <a href="/ips/findTeacherSheadule"><li>Find Teacher Schdule</li></a><br>
        <a href="/ips/addmission"><li>Add Addmission</li></a><br>
        <a href="/ips/addmission/edit"><li>Modify Addmission</li></a><br>
        <a href="/ips/addmission/delete"><li>Delete Addmission</li></a><br>
         
        <a href="#"><li>Hall Ticket Control</li></a><br>
        <a href="/ips/feescontrol"><li>Fees Control</li></a><br> 
    </ul>
</div>



<div class="important" onmouseout="hideI()" onmouseover="showI()">
<ul>
    <a href="/newuser"><li>Create NewUser</li></a><br>
    <a href="/forgotUserPassword"><li>Reset login Deatil</li></a><br>
    <a href="/ips/addmission"><li>Fess Update</li></a><br>
    
</ul>
</div>

<script>
    function show(){
    document.getElementsByClassName('navigation')[0].style.display='block';
    }
    function hide(){
      document.getElementsByClassName('navigation')[0].style.display='none';  
    }
     function showI(){
    document.getElementsByClassName('important')[0].style.display='block';
    }
    function hideI(){
      document.getElementsByClassName('important')[0].style.display='none';  
    }
</script>