<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/add_addmission.css">
    <link rel="stylesheet" href="/css/teacher.css">
    <link rel="stylesheet" href="/css/fees.css">
    <link rel="stylesheet" href="/css/user.css">
    <link rel="stylesheet" href="/css/newuser.css">
    <link rel="stylesheet" href="/css/edit.css">
    <link rel="stylesheet" href="/css/edit_addmi.css">
    <link rel="stylesheet" href="/css/student.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
</head>
<body>
    <div class="container">
    {{{ body }}}
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    </div>
</body>
</html>