<div class="edit_info-box">
    <p class="edit-heading"><mark>Change Details</mark> </p>
    <form action="/edit/varify/ok/u" method="post" class="edit_form">
        <label for="Profit">  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Profit</label>
        <input type="text" name="profit" id="edit_input"><br><br>
           <label for="Profit"> &nbsp; Total Fees</label>
        <input type="text" name="fees" id="edit_input"><br><br>
           <label for="Profit">&nbsp;Electric Bill</label>
        <input type="text" name="bill" id="edit_input"><br><br>
        <button type="submit" id="editcon-info-btn">Submit</button>
        <button type="reset" id="editcon-info-btn">Reset</button>
        <a href="/"><button id="editcon-info-btn">Dashboard</button></a>
    </form>
</div>

